<!DOCTYPE html>

<html>
<style>
form{
    margin:auto;
    width:35%;
}
.result{
    margin:auto;
    width:35%;
    
}
</style>
<head>
<title>Titanic</title>
</head>

<form action = "{{ url_for('main') }}" method = "POST">
<fieldset>
    <legend>Input values:</legend>
    Pclass:
    <input name = 'Pclass',type = 'number' required>
    <br>
    <br>
    Sex:
    <input name = 'Sex' type = 'text' required>
    <br>
    <br>
    Age:
    <input name = 'Age' type = 'number' required>
    <br>
    <br>
    SibSp:
    <input name = 'SibSp' type = 'number' required>
    <br>
    <br>
    Parch:
    <input name = 'Parch' type = 'number' required>
    <br>
    <br>
    Fare:
    <input name = 'Fare' type = 'number' required>
    <br>
    <br>
    Embarked:
    <input name = 'Embarked' type = 'text' required>
    <br>
    <br>
    title:
    <input name = 'title' type = 'text' required>
    <br>
    <br>
    <input type = "submit">
</fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Did the passenger survive?:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
    
</div>
</html>